<% if @task.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@task.errors.count, "error") %> prohibited this feed from being saved:</h2>

    <ul>
      <% @task.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= link_to t('view.task_list'), tasks_path %>
<%= form_with(model: @task, local: true) do |form| %>
  <div class="task_name">
    <%= form.label :task_name %>
    <%= form.text_field :task_name %>
  </div>
  <div class="task_detail">
    <%= form.label :task_detail %>
    <%= form.text_field :task_detail %>
  </div>
  <div class="task_due_date">
    <%= form.datetime_field :due_date, value: Time.current.strftime('%Y-%m-%dT00:00:00') %>
  </div>
  <div class="task_status">
    <%= form.label :status %>
    <%= form.select :status, [["ToDo", "ToDo"], ["Doing", "Doing"], ["Done", "Done"]] %>
  </div>
  <div class="task_priority">
    <%= form.label :priority %>
    <%= form.select :priority, Task.priorities.keys.to_a, {} %>
  </div>
  <div class="task_label">
    <%= form.label :Label %>
    <% Label.all.each do |label| %>
      <%= form.check_box :label_ids, {multiple: true, checked: label[:checked], disabled: label[:disabled], include_hidden: false }, label[:id] %>
      <%= form.label :label_ids, label.name, value: label[:id] %>
    <% end %> 
  </div>
  
  <%= form.submit nil , class: "btn btn-dark"%>
<% end %>