
<%= link_to t('view.create_task'), new_task_path %>
<p><%= notice %></p>
<h1><%= t('view.task_list') %></h1>

<%= link_to t('view.id_order'), tasks_path %>
<%= link_to t('view.created_order_desc'), controller: :tasks, action: :index_created_desc %>

<table>
  <tr>
    <th><%= t('view.task') %></th>
    <th><%= t('view.detail') %></th>
  </tr>

  <% @tasks.each do |task| %>
    <tr>
      <td><%= task.task_name %></td>
      <td><%= task.task_detail %></td>
      
      <td><%= link_to t('view.task_detail'), task_path(task.id) %></td>
      <td><%= link_to t('view.edit_task'), edit_task_path(task.id) %></td>
      <td><%= link_to t('view.delete_task'), task_path(task.id), method: :delete %></td>
    </tr>
  <% end %>
</table>