<h2><%= t('view.edit_user') %></h2>

<%= link_to t('view.user_list'), admin_users_path %>

<%= form_with(model: @user, local: true, url: {controller: 'admin/users', action: 'update' }) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this <%= @user.name %> from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
  
  <%= f.label :admin %>
  <%= f.select :admin, [['非管理者',false],['管理者',true]], selected: 0 %>

  <%= f.submit "Edit my account" %>
<% end %>